{% load wagtailcore_tags wagtailimages_tags %}

<div class="streamfield">
    {% for child in content %}
        {% if child.block_type == 'h1' %}
            <h1 class="my-3 {{ child.value.alignment }}">{{ child.value }}</h1>
        {% elif child.block_type == 'h2' %}
            <h2 class="mb-3 {{ child.value.alignment }}">{{ child.value }}</h2>
        {% elif child.block_type == 'h3' %}
            <h3 class="mb-3 {{ child.value.alignment }}">{{ child.value }}</h3>
        {% elif child.block_type == 'h4' %}
            <h4 class="mb-3">{{ child }}</h4>      
        {% elif child.block_type == 'intro' %}
            <div class="intro">{{ child }}</div>    
        {% elif child.block_type == 'raw_html' %}
            <!-- RAW HTML -->
            <div class="raw-html {{ child.value.alignment }}">
                {{ child.value.html }}
            </div>      
        {% elif child.block_type == 'icon' %}
            <!-- ICON -->
            <div class="icon {{ child.value.alignment }}">
                {% if child.value.font_awesome_icon_name and value.material_icon_name %}
                    <i class="{% if child.value.font_awesome_icon_choice == 'brand' %}fab{% else %}far{% endif %} {{ child.value.font_awesome_icon_name }} fa-{{ child.value.font_awesome_icon_size }}" aria-hidden="true"></i>
                    <i class="material-icons md-{{ child.value.material_icon_size }}">{{ child.value.material_icon_name }}</i>
                {% elif child.value.font_awesome_icon_name %}
                    <i class="{% if child.value.font_awesome_icon_choice == 'brand' %}fab{% else %}far{% endif %} {{ child.value.font_awesome_icon_name }} fa-{{ child.value.font_awesome_icon_size }}" aria-hidden="true"></i>
                {% elif child.value.material_icon_name %}
                    <i class="material-icons md-{{ child.value.material_icon_size }}">{{ child.value.material_icon_name }}</i>
                {% endif %}
            </div>
        {% elif child.block_type == 'pullquote' %}
            <!-- PULL QUOTE --> 
            <blockquote>
                {{ child.value.quote }}
                {% if child.value.attribution %}<span>- {{ child.value.attribution }}</span>{% endif %}
            </blockquote>
        {% elif child.block_type == 'lead_body' %}
            <!-- LEAD BODY -->
            <p classname="lead">{{ child }}</p>
        {% elif child.block_type == 'small_text' %}
            <!-- SMALL TEXT -->
            <small>{{ child }}</small>
        {% elif child.block_type == 'paragraph' %}
            <!-- PARAGRAPH -->
            {{ child.value|richtext }}
        {% elif child.block_type == 'aligned_image' %}
            <!-- ALIGNED IMAGE -->
            <figure class="img-wrapper {{ child.value.alignment }}">
                {% if child.value.alignment == "left" or child.value.alignment == "right" %}
                    {% image child.value.image width-300 as theimage %}
                {% else %}
                    {% image child.value.image width-1280 as theimage %}
                {% endif %}
                <p class="text-center">
                    <img class="img-responsive thumbnail" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />
                </p>

                {% if child.value.caption %}
                    <figcaption>
                        {{ child.value.caption }}
                    </figcaption>
                {% endif %}
            </figure>
        {% elif child.block_type == 'image' %}
            <!-- IMAGE -->
            <figure class="thumbnail">
                {% image child.value width-900 class="img-responsive" %}
            </figure>
        {% else %}
            {{ child }}
        {% endif %}
    {% endfor %}
</div>