{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block body_class %}{{ self.title }}{% endblock %}


{% block content %}
    <figure>
        <img class="img-fluid" src="https://duefs8ruzdiu1.cloudfront.net/images/thank-you.original.jpg" alt="Girl in a park with a sunset behind her"/>
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ page.thank_you_text|richtext }}
            </div>
        </div>
        <div class ="row">
            <div class="col-12">
                <a href="/"><button class="mb-3 btn btn-primary btn-sm">Return to homepage</button></a>
            </div>
        </div>
    </div>
{% endblock %}