{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block body_class %}{{ self.title }}{% endblock %}

{% block content %}
    {{ self.body }}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h1>{{ page.title }}</h1>

                {{ page.intro|richtext }}

                <form class="m-3 sales form-horizontal" action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="sales-submission" type="submit" value="Submit Form">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
