{% load schoolme_tags wagtailcore_tags static %}
{% get_site_root as site_root %}


<nav class="navbar navbar-expand-md" role="navigation">
    <a class="navbar-brand" href="/">
        <img width="180px" class="d-inline-block align-top" alt="SchoolMe" src="{% static 'images/logo-schoolme.original.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">menu</i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% pageurl site_root %}">Home <span class="sr-only">(current)</span></a></li>
            {% for menuitem in menuitems %}
                <li class="nav-item">
                    <a class="nav-link {% if menuitem.active %}active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }} {% if menuitem.active %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            {% endfor %}          
        </ul>
    </div>
</nav>
<div class="donate">
    <ul>
        <li><a class="ml-4 btn btn-primary btn-sm" href="/donate/">DONATE</a></li>
    </ul>
</div>