@import '../node_modules/bootstrap/scss/bootstrap';

$primary: rgba(11, 106, 179, 1);
$secondary: rgba(126, 179, 79, 1);
$font-color: rgba(33, 33, 33 ,1);


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
    url("../fonts/MaterialIcons-Regular.woff") format('woff'),
    url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: $primary;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-84 { font-size: 84px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-108 { font-size: 108px; }
.material-icons.md-120 { font-size: 120px; }

.svg-inline--fa {
    color: $secondary;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(44, 62, 80, 1.0);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: $font-color;
}
h1 {
    text-transform: uppercase;
}
p {
    font-size: 0.95rem;
}
a {
    color: $primary;
    &:active, &:focus {
        outline: none;
    }
    &:hover {
        color: $secondary;
    }
}

.concrete {
    background-color: rgba(55, 71, 79 ,1);
    padding: 1.5rem !important;
    margin: 1rem 0 !important;
    border-top: 3px solid $secondary;
    border-bottom: 1px solid $secondary;
    h1, h2, h3, h4, h5, h6, p, a {
        color: #eee;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $secondary;
    &:hover {
        background-color: $secondary;
        border-color: $primary;
        color: #000;
    }
}

.assistive-text { /*For accessibility to skip navigation*/
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.btn-label { /*To hide empty links on social media links*/
    font-size: 0;
    height: 1px;
    overflow: hidden;
}


/*Extends images entered via rich text as fluid for mobile responsiveness*/
.richtext-image {
    @extend .img-fluid;
}

.responsive-object {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s; 
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ==========================================================================
  HEADER
   ========================================================================== */
header {
    nav {
        &.navbar {
            position: absolute;
            z-index: 1;
            .navbar-brand {
                position: relative;
                bottom: 12px;
            }
        }
        .navbar-collapse {
        }
        ul {
            &.navbar-nav {
                a {
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $primary;
                    &:hover, &.active {
                        color: $secondary;
                    }
                }
            }
            li {
                float: left;
                list-style: none;
            }
        }
    }
    .donate {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        flex-direction: row;
        display: flex;
        margin-top: 0;
        padding: 0;
        margin-bottom: 0;
        font-size: 1.3em;
        ul {
            list-style: none;
        }
    }
}
body.trustees {
    nav {
        &.navbar {
            position: relative;
        }
    }
}

/* ==========================================================================
  CONTENT
   ========================================================================== */

/* Blocks */
.block-four_columns {
    h2, h3, h4 {
        margin-top: 0;
    }    
    .rich-text {
        p {
            font-size: 1.04em;
        }
    }
}
.block-two_columns, .block-three_columns, .block-four_columns {
    .icon {
        position: relative;
        left: -5px;
    }
}


/*Circle*/
.circle {
    .circle-icon {
        background: #fff;
        text-align: center;
        width: 100px;
        height: 100px;
        font-size: 30px;
        line-height: 100px;
        border: 1px dotted $secondary;
        border-radius: 50%;
    }
}


/* Home */
.schoolme {
    h1, h3, .block-four_columns .rich-text p {
        text-align: center;
    }
    .concrete {
        p {
            color: #f0f6fc;
            font-size: 1.3rem;
        }
    }
}


/* Hero Images */
.block-hero_image {
    figure {
        border-bottom: 1px solid $secondary;
    }
    figure.overlay {
        position: relative; 
        width: 100%; /* for IE 6 */
        figcaption {
            max-width: 45%;
            background-color: rgba($primary, 0.8);
            position: absolute;
            top: 55%;
            left: 10%;  
            transform: translate(-10%, -65%);
            padding: 10px; 
            h2 {
                color: #f0f0f0;
                font-size: 2.2em;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            p.fine-print {
                color: #ffffff;
            }
        }
        .photo-credit {
            position: absolute; /* absolute position (so we can position it where we want)*/
            bottom: 0; /* position will be on bottom */
            width: auto;
            right: 0;
            padding: 4px;
            background-color: #000;
            color: #fff;
            opacity: 0.5; /* transparency */
            filter: alpha(opacity=50); /* IE transparency */
            a {
                color: #eee;
            }
        }
    }
}


/* ==========================================================================
    FORMS
   ========================================================================== */
form {
    p {
        @extend .form-group, .row;
        span.helptext {
            @extend .small;
        }
        textarea {
            @extend .form-control;
            &[required=""]:focus {
                border-color: $primary;
                box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
            }
        }
    }
    input {
        &[type="text"], &[type="email"] {
            @extend .form-control;
        }
        &[required=""]:focus {
            border-color: $primary;
            box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
        }

        &[type="submit"] {
            @extend .btn, .btn-primary;
        }
    }
}

/* ==========================================================================
    FOOTER
   ========================================================================== */
footer {
    background-color: rgba(33, 33, 33 ,1);
    border-top: 1px solid $primary;
    .contact-info {
        text-align: right;
        a {
            &:hover {
                color: $secondary;
            }
        }
    }
    .footer-text p {
        font-size: 0.8rem;
        color: rgba(189, 189, 189, 1.0);
        margin-bottom: 0.3rem;
    }
    i {
        position: relative;
        top: 4px;
    }
    a {
        color: rgba(189, 189, 189,1.0);
    }
    p.social-media {
        a i {
            color: $secondary;
            &:hover {
                color: $primary;
            }
        }
    }
    span.copyright {
        color: $primary;
    }
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
/* ==========================================================================
    NAVIGATION
   ========================================================================== */
    header {
        nav ul.navbar-nav a {
            font-size: 0.7rem;
        }
    }

/* ==========================================================================
    FOOTER
   ========================================================================== */
   footer {
        .footer-text p {
            font-size: 0.67rem;
        }
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.65rem;
    }
    h3 {
        font-size: 1.35rem;
    }
/* ==========================================================================
    HERO IMAGE
   ========================================================================== */
    .block-hero_image figure.overlay {
        figcaption {
            padding: 6px; 
            h2 {
                font-size: 1.2em;
            }
            p.fine-print {
                font-size: 0.6em;
            }
        }
        .photo-credit {
            font-size: 95%;
        }
    }
/* ==========================================================================
    NAVIGATION
   ========================================================================== */
    header {
        nav {
            &.navbar {
                position: relative;
                .navbar-brand {
                    position: relative;
                    bottom: 12px;
                }
            }
            ul.navbar-nav a {
                font-size: 0.67rem;
                color: $primary;
            }
        }
        .donate {
            right: 0;
            top: 44px;
            a {
                font-size: 0.8rem;
            }
        }
    }

/* ==========================================================================
    TABLE
   ========================================================================== */
    table td {
        font-size: 0.67rem;
   }

/* ==========================================================================
    FOOTER
   ========================================================================== */
    footer {
        .col-md-6, .contact-info {
            text-align: center;
        }
        .heart-rate {
            margin: 0 auto;
            text-align: center;
        }
        .footer-text p {
            font-size: 0.67rem;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {
/* ==========================================================================
    NAVIGATION
   ========================================================================== */
    header {
        .donate {
            right: 10px;
            top: 44px;
            a {
                font-size: 0.6rem;
            }
        }
    }
/* ==========================================================================
    HERO IMAGES
   ========================================================================== */
    .block-hero_image figure.overlay {
        figcaption {
            max-width: 55%;
            h2 {
                font-size: 0.9em;
            }
        }
        .photo-credit {
            font-size: 65%;
            padding: 3px;
        }
    }
}
