{% load schoolme_tags static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title == 'Home' %}SchoolMe{% else %}{{ self.seo_title }} | SchoolMe{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google-site-verification" content="t0J0VsphD1qzHz9gRabL4bORTBY28A9FaUq4DuZ3dww" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Rancho" rel="stylesheet">
        {% if self.seo_title == 'Home' %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/starfish.min.css' %}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/schoolme.min.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header role="banner">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        
        <main role="mb-2 main">
            {% block content %}{% endblock %}
        </main>

        <footer class="py-2" role="contentinfo">
            <div class="container-fluid py-2">
                <div class="row footer-text">
                    <div class="text-center col-md-4">
                        <p><span class="copyright">&copy;</span> Copyright {% now "Y" %} SchoolMe</p>
                        <p>A <a style="color: #a43f33;" target="_blank" href="https://fourfridays.com"><img class="img-fluid" src="{% static 'images/fourfridays-wordmark-red-transparent.png' %}" alt="fourfridays beta" width="140px" /></a> website.</p>
                    </div>
                    <div class="text-center col-md-3">
                        <p class="social-media">
                            <a target="_blank" href="https://www.facebook.com/SchoolMe-158676997531911/timeline/"><i class="mr-4 fab fa-2x fa-facebook-f" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
                            <a target="_blank" href="https://twitter.com/SchoolMe_"><i class="mr-4 fab fa-2x fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                            <a target="_blank" href="https://www.instagram.com/schoolme.org.uk/?hl=en"><i class="mr-4 fab fa-2x fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
                        </p>
                    </div>
                    <div class="text-center col-md-5 contact-info">
                        <p><i class="material-icons md-18">smartphone</i> London <a href="tel:+4407557104673">+(44) (0) 75 57104673</a> | Tunis <a href="tel:+21698938849">+(216) (98) 938849</a>
                        <p><i class="material-icons md-18">email</i><a href="mailto:info@schoolme.org.uk"> info@schoolme.org.uk</a> <i class="material-icons">location_on</i>139 Leathwaite Road, London</p>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/schoolme.min.js' %}" async></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109186121-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-109186121-1');
        </script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
