{% load wagtailcore_tags wagtailimages_tags %}


<article>
    <div class="container">
        <div class="mb-2 row justify-content-center">
            {% for images in self %}
                {% image images.image fill-200x200 class="img-fluid rounded m-2" %}
            {% endfor %}
        </div>
    </div>
</article>