{% load wagtailcore_tags wagtailimages_tags %}


{% image self.image fill-170x180-c100 as image %}
<figure>
    <a class="board-member-link" href="/trustees/{{ self.first_name.lower }}">
        <img class="img-fluid img-thumbnail rounded" src="{{ image.url }}" alt="{{ image.alt }}"/>
    </a>
    <figcaption>
        <h6>{{ self.prefix }}. {{ self.first_name }} {{ self.last_name }}</h6>
        <p>{{ self.title }}</p>
    </figcaption>
</figure>