{% if self.background_color.value != 'normal' %}
    <article class="full-width {{ self.background_color }}">
{% else %}
    <article>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="mb-2 col-sm-12 col-md-6">
               {% include "includes/streamfield.html" with content=self.left_column only %}
            </div>
            <div class="mb-2 col-sm-12 col-md-6">
               {% include "includes/streamfield.html" with content=self.right_column only %}
            </div>
        </div>
    </div>
</article>